{% extends "blog/base.html" %} {% block title %} Blog {%endblock%} {% block win_title %} Blog {%endblock%} {% block content %}

<div class="posts">
    {% for post in post_list %}
    <article class="post">

        <h3><a href="{% url 'post_detail' post.slug  %}" class="post-title">{{ post.title }}</a></h3>
        <h4 style="text-transform: lowercase">{{ post.created_on | date:"F j Y" }}</h4>

        <div class="entry">
            {{post.content | safe | linebreaks | truncatewords_html:200 }}
        </div>
    </article>
    <hr class="post-end"> {% endfor %}
</div>

{%endblock%}