<!DOCTYPE html>
<html>

<head>
    <title>Blog</title>

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Eczar|Raleway" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-links">
            <ul>
                <li><a href="#" alt="about">about</a></li>
                <li><a href="#" alt="blog">blog</a></li>
                <li><a href="#" alt="publications">pubs</a></li>
                <li><a href="mailto:jakobkonger@gmail.com" alt="contact me">contact</a></li>
            </ul>
        </div>
    </header>

    <div role="main" class="content">
        <article class="page">
            <div class="pagehead-wrap">
                <div class="title-wrap">
                    <h1 class="title">Jakob Konger</h1>
                </div>

                <div class="subtitle-wrap">
					<h2 class="subtitle">{% block title %} {{ object.title }} {% endblock title %}</h2>
				</div>
            </div>

            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}

        </article>
    </div>
</body>

</html>